/* Estilo para el título */
.anexo-title {
    text-align: center;
    font-size: 24px;
    color: #1976d2;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .duration-info {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  

  .anexo-container {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    max-width: 900px;
  }
  

  .style-table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  
  table.mat-elevation-z8 th.mat-header-cell {
    background-color: #1976d2; 
    color: white; 
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  table.mat-elevation-z8 td.mat-cell {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
  }
  

  .status-icon {
    font-size: 18px;
    vertical-align: middle;
  }
  

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  